%%-*- mode:erlang -*-

% noterm

{lib_dirs, ["deps"]}.

{erl_opts, [ {i, "deps"} ]}.

{deps, [
        {pose, ".*",
            {git, "git://github.com/beadsland/pose", {branch, master}}},
        {superl, ".*",
            {git, "git://github.com/beadsland/superl", {branch, master}}}
]}.
