%%-*- mode:erlang -*-

% noterm

{lib_dirs, ["deps"]}.

{erl_opts, [ {i, "../../deps"}, {i, "deps"} ]}.

{edoc_opts, [
    {preprocess, true},
    {includes, ["deps"]},
    {doclet, multi_doclet},
    {skip_libs, ["deps","workspace"]},
    {doclet_list, [edown_doclet, edoc_doclet]},
    {top_level_readme,
        {"./README.md", "http://github.com/beadsland/noterm"}},
    {todo, true}
    ]}.

{deps, [
        {pose, ".*",
            {git, "git://github.com/beadsland/pose", {branch, master}}},
        {edoc, ".*",
            {git, "git://github.com/beadsland/edoc", {branch, master}}},
        {edown, ".*",
            {git, "git://github.com/beadsland/edown", {branch, master}}},
        {multidoc, ".*",
            {git, "git://github.com/beadsland/multidoc", {branch, master}}},
        {superl, ".*",
            {git, "git://github.com/beadsland/superl", {branch, master}}}
]}.
